.idea/*
project/*
target/*
test_run_dir/
cmake-build-debug/
.metals/
.vscode/
.bloop/
.DS_Store

*.log
*.vcd
test-*/
test_generator/build
PositTestGenerator
hw/build_fpga/
hw/build_sim/
sw/build_sim/
*/bin/*.A
*/bin/*.B
*.o
*.a
